# Environment variables declared in this file are automatically made available to Prisma.
DATABASE_URL="file:dev.db"

# common
AUTH0_DOMAIN="you can find this in auth0 dashboard - e.g. https://example.com/"

# auth0 client for jwt check
AUTH0_SECRET="you can find this in auth0 dashboard"

# auth0 management API client
AUTH0_CLIENT_ID="you can find this in auth0 dashboard"
AUTH0_CLIENT_SECRET="you can find this in auth0 dashboard"
